body {
  width: 420px;
}

@keyframes shake {
    0%,
    100% {
        transform: translateX(0);
    }
    8%,
    41% {
        transform: translateX(-10px);
    }
    25%,
    58% {
        transform: translateX(10px);
    }
    75% {
        transform: translateX(-5px);
    }
    92% {
        transform: translateX(5px);
    }
}

.shake {
    animation: shake 0.5s linear;
}

[x-cloak] {
  display: none !important;
}
